<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.vdyalex.lensd</string>
  <key>ProgramArguments</key>
  <array>
    <string>__BINARY_PATH__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__HOME_DIR__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>ANTHROPIC_API_KEY</key><string>__ANTHROPIC_API_KEY__</string>
    <key>TELEGRAM_BOT_TOKEN</key><string>__TELEGRAM_BOT_TOKEN__</string>
    <key>LOG_LEVEL</key><string>__LOG_LEVEL__</string>
    <key>ANTHROPIC_MODEL</key><string>__ANTHROPIC_MODEL__</string>
    <key>VISION_LANG</key><string>__VISION_LANG__</string>
    <key>ANTHROPIC_SYSTEM_PROMPT</key><string>__ANTHROPIC_SYSTEM_PROMPT__</string>
    <key>SUBSCRIBER_STORE_PATH</key><string>__SUBSCRIBER_STORE_PATH__</string>
  </dict>
  <key>KeepAlive</key><true/>
  <key>RunAtLoad</key><true/>
  <key>StandardOutPath</key><string>__LOG_DIR__/stdout.log</string>
  <key>StandardErrorPath</key><string>__LOG_DIR__/stderr.log</string>
</dict>
</plist>
